.information {
    font-family: 'Century Gothic';
    color: black;
}

.space {
    margin: 30%;
}

.spaceMore {
    margin-bottom: 30%;
}

.buttonPad {
    padding: 0;
}

body {
    padding:2%;
    font-size: 0.6875em;
}

#voteDiv {
    margin:0 auto;
    width:58.54167%;
    padding:1.7793594%; 
    max-width: 562px; 
}

#voteDiv input {
    max-width:50%;
    margin:10px;
}

#judgeTitle {
    margin:0 auto;
    width:58.54167%;
}

#waitDiv {
    margin:0 auto;
    width:58.54167%;
    padding:1.7793594%; 
    max-width: 562px;
}

#arrow {
    margin:0 auto;
    width:58.54167%;
    padding:1.7793594%; 

}

#arrow img {
    max-width:100%;
    margin-bottom:5px;
}

@media screen and (max-width:848px){
    #voteDiv {
        width:85%;
    }

    #voteDiv input {
        max-width:40%;
        margin:10px;
    }

}

@media screen and (max-width:320px){
    #voteDiv {
        width:80%;
    }

    #voteDiv input {
        max-width:100%;
        margin:10px;
    }
    
    #content {
        float:none;
        width:80%;
        margin:0 auto;
    }

}
@media screen and (max-width:270px){
    #voteDiv {
        width:100%;
    }

    #voteDiv input {
        max-width:50%;
        margin:10px;
    }
    
    #content {
        float:none;
        width:80%;
        margin:0 auto;
    }

}